    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About GeoComvos</h2>
              <br/>
                <p>Geocomvos Ltd. is a Cyprus-based technical consultancy specializing in the development and use of Free and Open Source Software (FOSS) Geographic Information Systems (GIS) and technology, particularly in the development of Spatial Data Infrastructure (SDI) platforms and Geospatial Catalogues.</p>
                <p>The company specializes in promoting, developing and contributing Open Source and Open Data solutions to governments, organizations and other private companies.</p>
                <p>Although Geocomvos Ltd is a new company, it carries years of experience in the geospatial domain: members of the company have implemented the official <a href="https://catalog.data.gov">open data catalogue</a> for the government of the United States of America as well as the <a href="http://geodata.gov.gr/">open geospatial data catalogue</a> for the Greek government.</p>
                <br/>
              </div>
        </div>
    </section>
